.chart div { margin: 1px; float: left; margin: 0 2px 0 0px; }
.legend span { font-size: 10px; }
.legend { float: left;}
.chart { padding-top: 4px; }
.chart div .box { width: 13px; height: 5px; margin-bottom: 1px; }
.box:hover { cursor: pointer; }
#short_description { height: 24px;}
#description { clear: both; height: 100px; }
.legend span { display: inline-block; border-left: 1px solid black; text-align: center; }
.legend2 { padding-top: 10px; text-align: center !important;}
.legend2 > span { padding-right: 10px; line-height: 2em !important;}
.legend2 p > br { display: inline !important;}
.legend2 p { text-align: center !important; line-height: 2em !important;}
.lbox { width: 13px; height: 13px; display: inline-block; margin-right: 3px;}


.colors li {
	float: left;
	list-style-type: none;
	padding-left: 10px;
	padding-right: 15px;
	margin-bottom: 5px;
	width: 70px;
}

.legend span:last-child , .chart div.col:last-child {
	margin-left: 30px;
}